{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        
        <div>
            <button type="button" class="btn btn-gray-800 d-inline-flex align-items-center me-2">
                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
            </button>
            <button class="btn btn-gray-800 d-inline-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                Отчёт
                <svg class="icon icon-xs ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    По нозологиям
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>                            
                    По пациентам
                </a>
                
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11 4a1 1 0 10-2 0v4a1 1 0 102 0V7zm-3 1a1 1 0 10-2 0v3a1 1 0 102 0V8zM8 9a1 1 0 00-2 0v2a1 1 0 102 0V9z" clip-rule="evenodd"></path></svg>
                    По дате
                </a>
                <div role="separator" class="dropdown-divider my-1"></div>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="dropdown-icon text-gray-800 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                    Общий отчёт
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Анкета первичной диагностики</h2>
                <form action = "/kataracta" method=post enctype=multipart/form-data>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">ID</label>
                                <input class="form-control" id="first_name" type="text" placeholder="Введите идентификатор пациента" required>
                            </div>
                        </div>

                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3">
                            <label for="birthday">Дата рождения</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                </span>
                                <input data-datepicker="" class="form-control" id="birthday" type="text" placeholder="дд/мм/гггг" required>                                               
                              </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender">Пол</label>
                            <select class="form-select mb-0" id="gender" aria-label="Gender select example">
                                <option selected>Пол</option>
                                <option value="1">Женский</option>
                                <option value="2">Мужской</option>
                            </select>
                        </div>
                    </div>
                    
                    <h2 class="h5 my-4">Ответьте на вопросы</h2>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q1">Зрение снизилось медленно, в течение 1 года?</label>
                                <select class="form-select" id="q1" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q2">Зрение снизилось быстро, в течение нескольких дней - недели?</label>
                                <select class="form-select" id="q2" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q3">Была ли у Вас травма глаза?</label>
                                <select class="form-select" id="q3" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q4">Вам когда-нибудь ставили диагноз катаракта?</label>
                                <select class="form-select" id="q4" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q5">Улучшается ли зрение в очках?</label>
                                <select class="form-select" id="q5" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q6">Ставили ли Вам диагноз - сахарный диабет?</label>
                                <select class="form-select" id="q6" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q7">Принимали ли Вы гормональную терапию (стероиды) длительное время?</label>
                                <select class="form-select" id="q7" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q8">Работали ли Вы на вредном производстке (радиация, токсические вещества)?</label>
                                <select class="form-select" id="q8" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q9">Вы хуже видите в сумерках?</label>
                                <select class="form-select" id="q9" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q10">Вы плохо видите вдаль?</label>
                                <select class="form-select" id="q10" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q11">Вы плохо видите  вблизи?</label>
                                <select class="form-select" id="q11" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q12">Цвета кажутся менее яркими, чем раньше?</label>
                                <select class="form-select" id="q12" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="q13">Есть ли ощущение "тумана перед глазами"?</label>
                                <select class="form-select" id="q13" >
                                    <option value="0" selected>Не могу ответить</option>
                                    <option value="1">ДА</option>
                                    <option value="2">НЕТ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="border-0">
                        <h2 class="h5">Фотография глаза</h2>
                        <div class="d-flex align-items-left">
                            <div class="me-3">
                                <!-- Avatar -->
                                <img class="rounded avatar-xl" src="/static/assets/img/cat_0_1882.JPG" alt="change avatar">
                            </div>
                            <div class="file-field">
                                <div class="d-flex justify-content-xl-center ms-xl-3">
                                    <div class="d-flex">
                                        
                                        <div class="d-md-block text-left">
                                            <div class="fw-normal text-dark mb-1">Выбрать изображение</div>
                                            <div class="text-gray small">JPG, GIF или PNG<br>Максимальный размер 10Мb. <br>Фото должн быть чётким и без отблисков.<br> <br><- ПРИМЕР </div>
                                        </div>
                                    </div>
                                </div>
                              </div>    
                                                                 
                        </div>
                        
                    </div>
                    <div class="input-group mt-3">
                        
                        <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                      </div>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Проверить</button>
                    </div>
                </form>
            </div>
            
        </div>
        
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
